{% extends 'components/layout.html.twig' %}



    {% block contentHeader %}
        Livre de recette

    {% endblock %}

    {% block contentBody %}

        <div>

            <div>nb recette : {{ recipes|length }}</div>
            <h1>Liste des recettes</h1>
            <ul>
                {% for recipe in recipes %}
                    <li>
                        <h2>{{ recipe.title }}</h2>
                        <p>{{ recipe.description }}</p>
                        <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn btn-primary">Consulter la
                            recette</a>
                    </li>

                {% endfor %}
            </ul>
        </div>

    {% endblock %}

