{% extends 'components/layout.html.twig' %}

{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/group.css') }}">
{% endblock %}

{% block contentHeader %}
    <h1 class="pl-3" style="font-weight: bold">
        Rejoindre un groupe
    </h1>
{% endblock %}


{% block contentBody %}
<div class="d-flex justify-content-center flex-column p-4 group-div">
    <form action="{{ path('join_group') }}" method="post">
        <p style="font-weight: 600;">Vous souhaitez rejoindre un groupe ? Entrez le code de ce groupe ci-dessous pour le rejoindre.</p>
        <div class="d-flex align-items-center">
            <input type="text" id="code" name="code" placeholder="ex : 1dza23..." style="border-radius: 5px" class="p-1 form-input-style">
            <button type="submit" class="btn ml-3" style="background-color: #E6A203; border-radius: 10px; width: fit-content;color: white">
                Rejoindre
            </button>
        </div>
    </form>
</div>
{% endblock %}
