{% extends 'components/layout.html.twig' %}

{% block contentHeader %}
    Ajouter une étape de préparation
{% endblock %}

{% block body %}

{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
</div>


{{ form_end(form) }}
{% endblock %}