{% extends 'components/layout.html.twig' %}



    {% block contentHeader %}
        {% if hasGroup %}

            <div>
                <span>Fil d'actualité</span>
                <button>Publier</button>
            </div>

        {% endif %}

    {% endblock %}

    {% block contentBody %}

        {% if hasGroup  %}
            <div>

                my feed {{ group.name }} ...

            </div>
        {% endif %}
    {% endblock %}

