{% extends 'components/layout.html.twig' %}

{% block customStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/feed.css') }}">
{% endblock %}


    {% block contentHeader %}
        {% if hasGroup %}

            <div>
                <span>Fil d'actualité</span>
                <a href="{{ path('publish_post') }}">
                <button>Publier</button>
                </a>
            </div>

        {% endif %}

    {% endblock %}

    {% block contentBody %}

        {% if hasGroup  %}
            <div class="d-flex flex-column gap">
                {% for post in posts %}

                    {% if post.type ==  1  %} {#    POST_TYPE_NOTIFICATION#}
                        {{ component('post_notification', {
                            post: post,
                        }) }}
                    {% else %}
                        {{ component('post', {
                            post: post,
                        }) }}
                    {% endif %}

                {% endfor %}
            </div>

        {% endif %}
    {% endblock %}

