{% extends 'components/layout.html.twig' %}



    {% block contentHeader %}
        {% if hasGroup %}

            <div>
                <span>Fil d'actualité</span>
                <a href="{{ path('publish_post') }}">
                <button>Publier</button>
                </a>
            </div>

        {% endif %}

    {% endblock %}

    {% block contentBody %}

        {% if hasGroup  %}
            <div>

                <h1> my feed {{ group.name }} ...</h1>

                <div class="d-flex flex-column gap-4">
                    {% for post in posts %}

                        {% if post.type ==  1  %} {#    POST_TYPE_NOTIFICATION#}
                            {{ component('post_notification', {
                                post: post,
                            }) }}
                        {% else %}
                            {{ component('post', {
                                post: post,
                            }) }}
                        {% endif %}

                    {% endfor %}
                </div>

            </div>
        {% endif %}
    {% endblock %}

