<div class="border border-secondary d-flex flex-column">
    <span>{{ comment.author.username }}</span>
    <span>{{ comment.content }}</span>
    {% if app.user.id is same as comment.author.id %}
        <form method="post" action="{{ path('delete_comment') }}" autoComplete="off">
            <input hidden name="commentId" value="{{ comment.id }}" />
            <button type="submit">Delete comment</button>
        </form>
    {% endif %}
</div>