{% extends 'base.html.twig' %}


{% block stylesheets %}

    {% block customStylesheets %}
    {% endblock %}

    {{ parent() }}
{% endblock %}

{% block title %}
    Tambouille
{% endblock %}

{% block body %}
    <div class="d-flex">
        <div>
            {{ component('sidebar', {
                user: app.user,
            }) }}
        </div>
        <div>
            <div>

                {% block contentHeader %}
                {% endblock %}
            </div>

            <hr>

            <div>

                {% block contentBody %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
